:root {
  --white-color: #ffffff;
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}

.slick-dots button {
  padding: 0;
  margin: 0;
  font-size: 0;
  width: 11px;
  height: 11px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.slick-dots button:hover {
  background-color: var(--white-color);
}

.slick-dots li {
  display: inline-block;
  padding: 0px 5px;
}

.slick-active button {
  background-color: var(--white-color);
  border: none;
}
