.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-weight: 700;
}

.menu__list-item {
  display: inline-block;
}

.menu__list-item + .menu__list-item {
  padding-left: 50px;
}

.user-list {
  display: flex;
}
