.search__tabs {
  margin-bottom: 25px;
}

.search__tabs-item {
  padding: 11px 26px 12px;
}

.search__tabs-item--active {
  border-radius: 5px;
  background-color: var(--light-gray-color);
  font-weight: 700;
  transition: all 0.2s;
}

.search__content-item {
  display: none;
}

.search__content-item--active {
  display: block;
}

.search__content-form {
  display: flex;
}

.search__content-btn {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  width: 145px;
  height: 50px;
  background: #1c62cd;
  border-radius: 3px;
  color: var(--white-color);
  border: none;
  padding: 17px 41px;
  margin-left: -3px;
}

.search__content-input {
  padding: 15px 20px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  border: none;
  background-color: var(--light-gray-color);
  outline: none;
}
